In [1]:
import pandas as pd

# Solution - load without multi-indexes

In [2]:
lithgow = pd.read_csv("data/rainfall/box_hill.csv")
lithgow

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,67104,1990,1,1,NaN,NaN,NaN
1,IDCJAC0009,67104,1990,1,2,NaN,NaN,NaN
2,IDCJAC0009,67104,1990,1,3,NaN,NaN,NaN
3,IDCJAC0009,67104,1990,1,4,NaN,NaN,NaN
4,IDCJAC0009,67104,1990,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11764,IDCJAC0009,67104,2022,3,18,0.0,1.0,N
11765,IDCJAC0009,67104,2022,3,19,17.0,1.0,N
11766,IDCJAC0009,67104,2022,3,20,1.0,1.0,N
11767,IDCJAC0009,67104,2022,3,21,0.0,1.0,N
11768,IDCJAC0009,67104,2022,3,22,0.0,1.0,N

In [3]:
print(lithgow["Rainfall amount (millimetres)"][0:365])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
360    0.0
361    0.0
362    0.0
363    0.0
364    0.0
Name: Rainfall amount (millimetres), Length: 365, dtype: float64

In [4]:
print(lithgow["Rainfall amount (millimetres)"][11404:])

11403    47.0
11404    40.0
11405    11.0
11406     0.0
11407     0.0
         ...
11764     0.0
11765    17.0
11766     1.0
11767     0.0
11768     0.0
Name: Rainfall amount (millimetres), Length: 366, dtype: float64

# Solution - load with multi-indexes

In [5]:
lithgow_multi = pd.read_csv("data/rainfall/box_hill.csv", index_col=["Year", "Month", "Day"])
lithgow_multi

               Product code  Bureau of Meteorology station number  \
Year Month Day
1990 1     1     IDCJAC0009                                 67104
           2     IDCJAC0009                                 67104
           3     IDCJAC0009                                 67104
           4     IDCJAC0009                                 67104
           5     IDCJAC0009                                 67104
...                     ...                                   ...
2022 3     18    IDCJAC0009                                 67104
           19    IDCJAC0009                                 67104
           20    IDCJAC0009                                 67104
           21    IDCJAC0009                                 67104
           22    IDCJAC0009                                 67104

                Rainfall amount (millimetres)  \
Year Month Day
1990 1     1                              NaN
           2                              NaN
           3                              NaN
           4                              NaN
           5                              NaN
...                                       ...
2022 3     18                             0.0
           19                            17.0
           20                             1.0
           21                             0.0
           22                             0.0

                Period over which rainfall was measured (days) Quality
Year Month Day
1990 1     1                                               NaN     NaN
           2                                               NaN     NaN
           3                                               NaN     NaN
           4                                               NaN     NaN
           5                                               NaN     NaN
...                                                        ...     ...
2022 3     18                                              1.0       N
           19                                              1.0       N
           20                                              1.0       N
           21                                              1.0       N
           22                                              1.0       N

[11769 rows x 5 columns]

In [7]:
lithgow_multi["Rainfall amount (millimetres)"][1990]

Month  Day
1      1      NaN
       2      NaN
       3      NaN
       4      NaN
       5      NaN
             ...
12     27     0.0
       28     0.0
       29     0.0
       30     0.0
       31     0.0
Name: Rainfall amount (millimetres), Length: 365, dtype: float64

In [8]:
lithgow_multi["Rainfall amount (millimetres)"][2002]

Month  Day
1      1      NaN
       2      0.0
       3      0.0
       4      0.0
       5      NaN
             ...
12     27     4.0
       28     0.0
       29     0.0
       30     0.0
       31     0.0
Name: Rainfall amount (millimetres), Length: 365, dtype: float64

# Solution - particular month

In [10]:
lithgow_multi["Rainfall amount (millimetres)"][2005][3]

Day
1      0.0
2      0.0
3      0.0
4      3.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     3.0
18    16.0
19     1.0
20     0.0
21     0.0
22     0.0
23    22.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     0.0
31     0.0
Name: Rainfall amount (millimetres), dtype: float64

# Solution - whr

In [11]:
whr_2015 = pd.read_excel("data/whr.xlsx", "2015")
whr_2016 = pd.read_excel("data/whr.xlsx", "2016")
whr_2017 = pd.read_excel("data/whr.xlsx", "2017")

#pd.concat([whr_2015, whr_2016, whr_2017])
pd.concat([whr_2015,whr_2016, whr_2017])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Lower Confidence Interval,Upper Confidence Interval,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.349510,0.94143,0.665570,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.402230,0.94784,0.628770,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.360580,0.87464,0.649380,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.330950,0.88521,0.669730,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.322610,0.90563,0.632970,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,NaN,NaN,NaN,NaN,NaN,0.945707,NaN,0.581844,NaN,...,NaN,NaN,151.0,3.471,3.543030,3.398970,0.368746,0.326425,0.455220,0.540061
151,Syria,NaN,NaN,NaN,NaN,NaN,0.396103,NaN,0.081539,NaN,...,NaN,NaN,152.0,3.462,3.663669,3.260331,0.777153,0.500533,0.151347,1.061574
152,Tanzania,NaN,NaN,NaN,NaN,NaN,1.041990,NaN,0.390018,NaN,...,NaN,NaN,153.0,3.349,3.461430,3.236570,0.511136,0.364509,0.066035,0.621130
153,Burundi,NaN,NaN,NaN,NaN,NaN,0.629794,NaN,0.059901,NaN,...,NaN,NaN,154.0,2.905,3.074690,2.735310,0.091623,0.151611,0.084148,1.683024
154,Central African Republic,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.270842,NaN,...,NaN,NaN,155.0,2.693,2.864884,2.521116,0.000000,0.018773,0.056565,2.066005

# Solution - mtb

In [54]:
import pandas as pd

champs = pd.read_csv("data/wsmtb/2018-XC-Club-Champs.csv")

champs

,XC Club Champs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
25/11/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category Rank,Bib,Name,Laps Completed,Race Time,Lap1,Lap2,Lap3,Lap4,Lap5,Lap6
A Grade Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,Luke Brame,5,"01:26:26,3","0:17:01,8","0:17:06,3","0:17:08,0","0:17:29,1","0:17:41,2",NaN
2,30,Dylan George,5,"01:26:44,6","0:17:34,5","0:17:03,6","0:17:36,8","0:17:27,8","0:17:02,1",NaN
...,...,...,...,...,...,...,...,...,...,...
2,554,Emma Blume,3,"00:14:55,1","0:04:53,1","0:04:55,0","0:05:07,2",NaN,NaN,NaN
3,558,Maia Uberoi-Robson,3,"00:15:08,2","0:04:49,9","0:04:59,8","0:05:18,6",NaN,NaN,NaN
4,551,Natasha Padula,3,"00:15:39,9","0:05:12,5","0:05:01,1","0:05:26,4",NaN,NaN,NaN
5,556,Mia Nicholls,3,"00:22:46,5","0:06:56,0","0:07:18,8","0:08:31,8",NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
champs.index

Index(['25/11/2018', 'Category Rank', 'A Grade Men', '1', '2', '3', '4', '5',
       '6', '7',
       ...
       'XC Club Champs', '25/11/2018', 'Category Rank', 'Under 13 Girls', '1',
       '2', '3', '4', '5', '5'],
      dtype='object', length=137)

Notice that every index is a string - even the ones we might think of as numbers?

Solution - python concepts

In [13]:
# Create a tuple to store your name, age, and whether or not you like Pizza

a1 = ("Matt", 43, True)

# Create a list with the numbers 1 to 10 in it

a2 = [1,2,3,4,5,6,7,8,9,10]

# Create a dictionary that has three keys, "bim", "bam", "bat" associated with values 1, 2, and 3 respectively

a3 = {"bim": 1, "bam": 2, "bat": 3}

print(a1)
print(a2)
print(a3)

('Matt', 43, True)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{'bim': 1, 'bam': 2, 'bat': 3}