Here are my personal most common excel errors:
  * copy and forget to update the cell location
  * update formula and forget to copy down the whole column

I will replicate the process for each in pandas to demonstrate.

In [10]:
import pandas as pd

whr = pd.read_excel("data/whr.xlsx", "2017")
whr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [17]:

happiness_threshold = 7
family_threshold = 1.5
whr["Happiness?"] = whr["Happiness.Score"] > happiness_threshold
whr["Family but not happy"] = (whr["Family"] > family_threshold) & (whr["Happiness?"] == False)
whr

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Happiness?,Family but not happy
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,True,False
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,True,False
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,True,False
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,True,False
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,False,False
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,False,False
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,False,False
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,False,False
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,False,False

In [16]:
# who are these countries that have strong family values but are not very happy?

whr[whr["Family but not happy"]] # we will see how this trick works next week :)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Happiness?,Family but not happy
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869,False,True
33,Spain,34,6.403,6.471055,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758,False,True
39,Slovakia,40,6.098,6.177348,6.018652,1.325394,1.505059,0.712733,0.295817,0.136544,0.024211,2.097777,False,True
46,Uzbekistan,47,5.971,6.065538,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914,False,True
69,Paraguay,70,5.493,5.577381,5.408619,0.932537,1.507285,0.579251,0.473508,0.224151,0.091066,1.685333,False,True

# Exercise

Update the thresholds and rerun the analysis.

Update the formula for the final column and rerun the analysis

Do you think it is even possible to make the errors we made in Excel?

**Advanced** What is your most common Excel mistake.  Can you explain it to us via a video (post to forums) and we will work over the unit to write pandas code so you never need to make the mistake again :)