In [10]:
import pandas as pd

# load data - notice that iris data has no index, so we will use a fresh one
iris = pd.read_csv("data/iris.csv")

# Solution - wide petals

In [11]:
only_wide = iris["petal width"] > 5
only_wide

0      False
1      False
2      False
3      False
4      False
       ...
147    False
148    False
149    False
150    False
151    False
Name: petal width, Length: 152, dtype: bool

In [12]:
iris[only_wide]

     sepal length  sepal width  petal length  petal width           class
134           6.4          2.8           5.6         22.0  Iris-virginica

# Solution - find errors

In [13]:
iris["class"].drop_duplicates()

0          Iris-setosa
52     Iris-versicolor
102     Iris-virginica
124                6.3
Name: class, dtype: object

# Solution - fishing

We will look at statistics to help

In [14]:
# get a series of the max of each col
max = iris.max()
# convert to dataframe
stats = max.to_frame(name="max")
# add other stats
stats["min"] = iris.min()
stats["avg"] = iris.mean()
stats

/tmp/ipykernel_1938/1030158105.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stats["avg"] = iris.mean()

                         max  min       avg
sepal length             7.9  4.3  5.837500
sepal width              4.4  2.0  3.064238
petal length             6.9  1.0  3.728947
petal width             22.0  0.1  1.315789
class         Iris-virginica  6.3       NaN

This shows up our erroneous petal width