# Solution - regex

In [1]:
import pandas as pd

a_grade = pd.read_csv("data/wsmtb/2018-XC-Club-Champs.csv", skiprows = [0,1,3], nrows=8)
times = a_grade[["Race Time", "Lap1", "Lap2", "Lap3", "Lap4", "Lap5"]]

times["Race Time"].replace(",\d", "", regex=True)

0    01:26:26
1    01:26:44
2    01:27:21
3    01:29:00
4    01:29:10
5    01:31:21
6    01:32:09
7    01:34:49
Name: Race Time, dtype: object

In [2]:
times["Race Time"].replace(",\d", ".0000", regex=True)

0    01:26:26.0000
1    01:26:44.0000
2    01:27:21.0000
3    01:29:00.0000
4    01:29:10.0000
5    01:31:21.0000
6    01:32:09.0000
7    01:34:49.0000
Name: Race Time, dtype: object

In [3]:
times.replace("(.*),(\d)", "\\1.\\2", regex=True)

    Race Time       Lap1       Lap2       Lap3       Lap4       Lap5
0  01:26:26.3  0:17:01.8  0:17:06.3  0:17:08.0  0:17:29.1  0:17:41.2
1  01:26:44.6  0:17:34.5  0:17:03.6  0:17:36.8  0:17:27.8  0:17:02.1
2  01:27:21.3  0:17:30.3  0:17:07.5  0:17:39.3  0:17:25.7  0:17:38.8
3  01:29:00.5  0:17:34.2  0:17:31.1  0:17:43.4  0:18:17.3  0:17:54.7
4  01:29:10.5  0:17:43.9  0:17:32.8  0:17:56.7  0:18:21.2  0:17:36.1
5  01:31:21.4  0:17:34.1  0:17:42.9  0:17:34.6  0:18:13.8  0:20:16.2
6  01:32:09.8  0:18:29.9  0:18:29.4  0:18:43.6  0:18:26.4  0:18:00.8
7  01:34:49.9  0:18:52.6  0:18:34.1  0:18:35.7  0:18:46.7  0:20:01.0

# Solution - lithgow filter

We show two solutions, one that takes two steps but only uses what we know.  This solution creates a data frame with just data after 1990 and then filters that one to have only data before 2000.  The second solution uses a more sophisticated "mask" but the syntax is harder to get right.  I recommend you experiment with the syntax in the second version to see what you can make work and what doesn't work.

In [13]:
lithgow = pd.read_csv("data/rainfall/lithgow.csv")

after_1990 = lithgow[lithgow["Year"] >= 1990]
after_1990_and_before_2000 = after_1990[after_1990["Year"] < 2000]
after_1990_and_before_2000

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
40907,IDCJAC0009,63226,1990,1,1,NaN,NaN,NaN
40908,IDCJAC0009,63226,1990,1,2,NaN,NaN,NaN
40909,IDCJAC0009,63226,1990,1,3,NaN,NaN,NaN
40910,IDCJAC0009,63226,1990,1,4,NaN,NaN,NaN
40911,IDCJAC0009,63226,1990,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
44554,IDCJAC0009,63226,1999,12,27,NaN,NaN,NaN
44555,IDCJAC0009,63226,1999,12,28,NaN,NaN,NaN
44556,IDCJAC0009,63226,1999,12,29,NaN,NaN,NaN
44557,IDCJAC0009,63226,1999,12,30,NaN,NaN,NaN
44558,IDCJAC0009,63226,1999,12,31,NaN,NaN,NaN

In [14]:

lithgow[(lithgow["Year"] > 1989) & (lithgow["Year"] < 2000)]

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
40907,IDCJAC0009,63226,1990,1,1,NaN,NaN,NaN
40908,IDCJAC0009,63226,1990,1,2,NaN,NaN,NaN
40909,IDCJAC0009,63226,1990,1,3,NaN,NaN,NaN
40910,IDCJAC0009,63226,1990,1,4,NaN,NaN,NaN
40911,IDCJAC0009,63226,1990,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
44554,IDCJAC0009,63226,1999,12,27,NaN,NaN,NaN
44555,IDCJAC0009,63226,1999,12,28,NaN,NaN,NaN
44556,IDCJAC0009,63226,1999,12,29,NaN,NaN,NaN
44557,IDCJAC0009,63226,1999,12,30,NaN,NaN,NaN
44558,IDCJAC0009,63226,1999,12,31,NaN,NaN,NaN