In [2]:
import pandas as pd

# Solution - ground averages

Create a table showing the average scores at each venue in the AFL.  You will find the data you need in `data/afl/games/csv`.

In [3]:
afl = pd.read_csv("data/afl/games.csv")
# why not scatter plot it :)
afl.groupby("venue")[["homeTeamScore", "awayTeamScore"]].mean()

                   homeTeamScore  awayTeamScore
venue
Adelaide Oval          90.281768      73.618785
Bellerive Oval         95.178571      76.892857
Blacktown              69.000000     150.000000
Carrara                74.791367      81.143885
Cazaly's Stadium       70.583333      61.083333
Docklands              88.851765      90.305882
Eureka Stadium         81.125000      73.000000
Football Park          87.239130      85.304348
Gabba                  83.693431      85.007299
Jiangwan Stadium       49.666667     110.333333
Kardinia Park          99.441558      67.012987
M.C.G.                 85.790749      83.156388
Manuka Oval            87.576923      85.269231
Marrara Oval           66.583333      76.916667
Perth Stadium          81.755556      72.055556
Riverway Stadium       76.000000      80.000000
S.C.G.                 93.422680      71.443299
Stadium Australia      82.944444      83.111111
Subiaco                94.607143      74.592857
Sydney Showground      89.101266      85.949367
Traeger Park           86.142857      87.571429
Wellington             74.333333      94.000000
York Park              99.025000      72.350000

In [ ]:
afl.groupby("venue")[["homeTeamScore", "awayTeamScore"]].mean().plot(kind="scatter", x="homeTeamScore", y="awayTeamScore", xlim=(40,120), ylim=(40,120))

# Solution - ufo sightings

Advanced - you will need to use the more advanced `pivot_table` method and you might have to do some type conversion(s).  Can you create a table from the "ufo" tab of the "fun.xlsx" which has a column for each shape of ufo that and which contains the sum of the durations of each type sighting in those shape categories.

Note: if you can't work out what I mean above, please experiment with any pivot on the ufo data that you think is meaningful.

In [ ]:
ufos = pd.read_excel("data/fun.xlsx", "ufo")

In [ ]:
import numpy as np
needed = ufos[["shape", "date posted", "duration (seconds)"]]
needed["duration"] = pd.to_numeric(needed["duration (seconds)"], errors="coerce")
pd.pivot_table(needed,index = ["date posted"], columns=["shape"], aggfunc=np.sum)

/tmp/ipykernel_1967/3615253903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needed["duration"] = pd.to_numeric(needed["duration (seconds)"], errors="coerce")

            duration                                                      \
shape        changed changing chevron    cigar   circle    cone crescent
date posted
1998-03-07       NaN     30.0   900.0   2400.0   1393.0   300.0  37800.0
1998-06-02       NaN      NaN     NaN    180.0   3606.0     NaN     10.0
1998-06-18       NaN      NaN     NaN    315.0   3604.0     NaN      NaN
1998-09-26       NaN   1530.0     NaN  10830.0   1275.0     NaN      NaN
1998-11-01       NaN   1680.0   395.0    745.0  13538.0    45.0      NaN
...              ...      ...     ...      ...      ...     ...      ...
2014-04-11       NaN  23315.0   600.0    218.0   3951.0  3600.0      NaN
2014-04-18       NaN   1520.0   630.0    180.0   6740.0     NaN      NaN
2014-04-24       NaN   1260.0   600.0   1080.0  15677.0     NaN      NaN
2014-05-02       NaN   7020.0    75.0   1560.0   9233.0     NaN      NaN
2014-05-08       NaN    660.0     NaN      NaN   6945.0  3600.0      NaN

                                     ...                                       \
shape         cross cylinder  delta  ...      light    other     oval pyramid
date posted                          ...
1998-03-07    810.0    900.0  435.0  ...  1991502.0  16573.5  49633.0   120.0
1998-06-02      NaN    120.0    NaN  ...    22205.0     10.0      NaN     NaN
1998-06-18      NaN      NaN    NaN  ...     1084.5    180.0   1200.0     NaN
1998-09-26      NaN    563.0   60.0  ...    47805.5  13856.0   1507.0     NaN
1998-11-01      NaN   2400.0    NaN  ...    50104.0   6540.0   4296.0     NaN
...             ...      ...    ...  ...        ...      ...      ...     ...
2014-04-11    180.0   1665.0    NaN  ...    22624.0  15530.0   8703.0     NaN
2014-04-18   1800.0   1168.0    NaN  ...    25932.0   9300.0   6095.0     NaN
2014-04-24      NaN    106.0    NaN  ...    28660.0   2466.0    492.0     NaN
2014-05-02     20.0      NaN    NaN  ...    19880.0   5176.0   1830.0     NaN
2014-05-08    120.0   3900.0    NaN  ...    12142.0   1400.0   4710.0     NaN


shape       rectangle round    sphere teardrop triangle  unknown
date posted
1998-03-07     1623.0   NaN   17876.0    120.0  37802.0   1031.0
1998-06-02      240.0   NaN  605103.0      NaN    310.0   2000.0
1998-06-18       60.0   NaN      90.0      NaN    840.0   1620.0
1998-09-26       15.0   NaN     902.0     32.0   8234.0  38402.0
1998-11-01        NaN   NaN   20906.5      NaN   7427.0   1385.0
...               ...   ...       ...      ...      ...      ...
2014-04-11      210.0   NaN   11432.0     27.0  26795.0   3991.0
2014-04-18      662.0   NaN    4609.0      NaN   4645.0   7584.0
2014-04-24       25.0   NaN    3152.0      NaN   5251.0   4048.0
2014-05-02      190.0   NaN    8323.0      NaN  13558.0   6552.0
2014-05-08     1200.0   NaN    3535.0   2707.0   3171.0   8836.0

[317 rows x 29 columns]

In [ ]:
ufos["date posted"]

0       2004-04-27
1       2005-12-16
2       2008-01-21
3       2004-01-17
4       2004-01-22
           ...
80327   2013-09-30
80328   2013-09-30
80329   2013-09-30
80330   2013-09-30
80331   2013-09-30
Name: date posted, Length: 80332, dtype: datetime64[ns]