In [2]:
import pandas as pd

race = pd.read_csv("data/wsmtb/2018-XC-Club-Champs.csv")
race

,XC Club Champs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
25/11/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category Rank,Bib,Name,Laps Completed,Race Time,Lap1,Lap2,Lap3,Lap4,Lap5,Lap6
A Grade Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,Luke Brame,5,"01:26:26,3","0:17:01,8","0:17:06,3","0:17:08,0","0:17:29,1","0:17:41,2",NaN
2,30,Dylan George,5,"01:26:44,6","0:17:34,5","0:17:03,6","0:17:36,8","0:17:27,8","0:17:02,1",NaN
...,...,...,...,...,...,...,...,...,...,...
2,554,Emma Blume,3,"00:14:55,1","0:04:53,1","0:04:55,0","0:05:07,2",NaN,NaN,NaN
3,558,Maia Uberoi-Robson,3,"00:15:08,2","0:04:49,9","0:04:59,8","0:05:18,6",NaN,NaN,NaN
4,551,Natasha Padula,3,"00:15:39,9","0:05:12,5","0:05:01,1","0:05:26,4",NaN,NaN,NaN
5,556,Mia Nicholls,3,"00:22:46,5","0:06:56,0","0:07:18,8","0:08:31,8",NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need a way to split this into the categories

In [2]:
players = pd.read_csv("data/afl/players.csv")
players

,playerId,displayName,height,weight,dob,position,origin
0,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power
1,2012662083,"Brown, Luke",181,81,22-Sep-1992,Defender,Norwood
2,2020665315,"Butts, Jordon",198,83,31-Dec-1999,Defender,Murray Bushrangers
3,2021678665,"Cook, Brayden",189,80,18-Jul-2002,"Midfield, Forward",South Adelaide
4,2019683521,"Davis, Ben",187,85,19-May-1997,Forward,UNSW
...,...,...,...,...,...,...,...
1490,2001717234,"Gilbee, Lindsay",180,83,8-Jul-1981,Defender,Eastern Ranges
1491,2002728153,"Hargrave, Ryan",190,87,26-Jul-1981,Defender,Perth
1492,2010726025,"Hooper, Andrew",172,82,18-Jan-1991,Forward,North Ballarat Rebels
1493,2005833394,"Sherman, Justin",183,89,26-Jan-1987,"Midfield, Forward",Clarence
1494,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-

In [7]:
stats = pd.read_csv("data/afl/stats.csv", index_col=["team", "year", "round", "playerId"])
stats

                                           gameId         displayName  \
team             year round playerId
Adelaide         2021 R1    2021661124   2021R104          Berry, Sam
                            2012662083   2021R104         Brown, Luke
                            2020665315   2021R104       Butts, Jordon
                            2018689604   2021R104         Doedee, Tom
                            2018703883   2021R104     Frampton, Billy
...                                           ...                 ...
Western Bulldogs 2012 R23   2011838967  2012R2309  Skinner, Zephaniah
                            2012833342  2012R2309         Smith, Clay
                            2012846405  2012R2309      Talia, Michael
                            2011872415  2012R2309       Wallis, Mitch
                            2009879614  2012R2309        Wood, Easton

                                        gameNumber  Disposals  Kicks  Marks  \
team             year round playerId
Adelaide         2021 R1    2021661124           1          8      6      1
                            2012662083         168          5      2      0
                            2020665315           3         10      5      3
                            2018689604          31         13      9      4
                            2018703883           9         14     10      8
...                                            ...        ...    ...    ...
Western Bulldogs 2012 R23   2011838967           8          2      1      1
                            2012833342          16         22     11      5
                            2012846405           4         23     14      9
                            2011872415          25         19      8      2
                            2009879614          42         20     13     11

                                        Handballs  Goals  Behinds  Hit Outs  \
team             year round playerId
Adelaide         2021 R1    2021661124          2      0        1         0
                            2012662083          3      0        0         0
                            2020665315          5      0        0         0
                            2018689604          4      0        0         0
                            2018703883          4      2        2         7
...                                           ...    ...      ...       ...
Western Bulldogs 2012 R23   2011838967          1      0        0         0
                            2012833342         11      0        0         0
                            2012846405          9      0        0         0
                            2011872415         11      1        0         0
                            2009879614          7      0        0         0

                                        ...  Brownlow Votes  \
team             year round playerId    ...
Adelaide         2021 R1    2021661124  ...               0
                            2012662083  ...               0
                            2020665315  ...               0
                            2018689604  ...               0
                            2018703883  ...               0
...                                     ...             ...
Western Bulldogs 2012 R23   2011838967  ...               0
                            2012833342  ...               0
                            2012846405  ...               0
                            2011872415  ...               0
                            2009879614  ...               0

                                        Contested Possessions  \
team             year round playerId
Adelaide         2021 R1    2021661124                      4
                            2012662083                      2
                            2020665315                      5
                            2018689604                      8
                            2018703883                      5
...                                                       ...
Western Bulldogs 2012 R23   2011838967                      2
                            2012833342                      6
                            2012846405                      5
                            2011872415                      9
                            2009879614                      2

                                        Uncontested Possessions  \
team             year round playerId
Adelaide         2021 R1    2021661124                        5
                            2012662083                        3
                            2020665315                        5
                            2018689604                        6
                            2018703883                        9
...                                                         ...
Western Bulldogs 2012 R23   2011838967                        1
                            2012833342                       16
                            2012846405                       18
                            2011872415                       11
                            2009879614                       18

                                        Contested Marks  Marks Inside 50  \
team             year round playerId
Adelaide         2021 R1    2021661124                0                0
                            2012662083                0                0
                            2020665315                1                0
                            2018689604                0                0
                            2018703883                3                4
...                                                 ...              ...
Western Bulldogs 2012 R23   2011838967                0                0
                            2012833342                0                0
                            2012846405                0                0
                            2011872415                0                0
                            2009879614                0                0

                                        One Percenters  Bounces  Goal Assists  \
team             year round playerId
Adelaide         2021 R1    2021661124               0        0             1
                            2012662083               0        0             0
                            2020665315               8        0             0
                            2018689604               7        0             0
                            2018703883               2        0             0
...                                                ...      ...           ...
Western Bulldogs 2012 R23   2011838967               1        0             0
                            2012833342               1        0             0
                            2012846405               3        4             0
                            2011872415               2        0             0
                            2009879614               3        1             0

                                        % Played  Subs
team             year round playerId
Adelaide         2021 R1    2021661124        80     -
                            2012662083        23   Off
                            2020665315        93     -
                            2018689604        84     -
                            2018703883        90     -
...                                          ...   ...
Western Bulldogs 2012 R23   2011838967        28    On
                            2012833342        79     -
                            2012846405        88     -
                            2011872415        83     -
                            2009879614        89     -

[89470 rows x 27 columns]